S3method(plot,summary.subsamples)
S3method(summary,subsamples)
export(DESeq2)
export(DEXSeq)
export(combineSubsamples)
export(edgeR)
export(edgeR.glm)
export(generateSubsampledMatrix)
export(getSeed)
export(subsample)
export(voomLimma)
import(data.table)
import(digest)
import(ggplot2)
import(reshape2)
importFrom(qvalue,lfdr)
importFrom(qvalue,qvalue)
